html {

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", Palatino, serif;
    color: #333333;
}

h2 {
    padding: 5px 10px 5px 10px;
    font-size: 1.8em;
}

h2:hover {
    /*color: #0686A8 !important;*/
    background-color: #0686A8;
    color: white !important;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

a, p, li {
    font-family: "Lato", Arial, sans-serif;
    color: #222222;

    font-size: 1em;
    line-height: 1.75em;
}

a:hover {
    text-decoration: none !important;
    /*color: #333333 !important;*/
    /*color: darkred !important;*/
    color: #0686A8 !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.container {
    margin: auto;
    max-width: 1000px;
    padding: 0 20px;
}

@media only screen and (max-width: 767px) {
    .intro img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        text-align: center;
    }
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-nav {
    /*background: #f4f4f4;*/
    padding-top: 23px;
}

#navbar-1 {
    margin-bottom: 0;
}

@media only screen and (max-width: 350px) {
    /* For mobile phones: */
    .main-nav {
        width: 110%;
    }
}

.main-nav nav ul li a {
    /*color: #a7a7a7;*/
    color: #4d4d4d;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.main-nav nav ul li.active {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    /*color: #4d4d4d;*/
    color: white;
    /*background-color: #0686A8;*/
    background-color: #0686A8;
}

.section.second {
    margin-top: 25px;
    margin-bottom: 35px;
}

.section .container {
    position: relative;
}

/*.section .container:after {*/
/*    position: absolute;*/
/*    content: url(../img/separator.png);*/
/*    left: 20px;*/
/*}*/

.section .container h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

.intro {
    padding: 40px 0px 20px 0px;
    overflow-x: hidden;
}

.intro img {
    width: 220px;
    border-radius: 99px;
    padding-right: 15px;
}

.intro .wrap {
    margin: 30px 0px 0px 0px;
}

.intro h1:before {
    position: absolute;
    left: -220px;
    top: -150px;
    font-size: 270px;
    z-index: -1;
    color: #f4f4f4;
}

.intro h1 span {
    font-size: 47px;
}

@media only screen and (max-width: 320px) {
    /* For mobile phones: */
    .intro h1 span {
        font-size: 20px;
    }
}

#experiences:hover h2 {
    /*color: #0686A8;*/
    background-color: #0686A8;
    color: white !important;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.work .work-list {
    margin-left: 0px;
}

.work .work-list li {
    list-style: none;
    font-size: 0.9375em;
    color: #8c8c8c;
}

.work .work-list li a {
    padding-bottom: 5px;
    font-size: 1.1875em;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #b3b3b3;
}

.work .work-list li a:hover {
    border-bottom: 1px solid #333333;
}

/*.work-list:hover li a {
    border-bottom: 1px solid #333333;
    color: #0686A8;
}*/

#skills:hover h2 {
    /*color: #0686A8;*/
    background-color: #0686A8;
    color: white !important;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

#projects:hover h2 {
    /*color: #0686A8;*/
    background-color: #0686A8;
    color: white;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.more-projects {
    text-align: center;
}

.more-projects a {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 500;
    color: #4e4e4e;
}

#projects:hover .more-projects a {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 500;
    color: #0686A8;
}

.projects-page {
    padding-top: 40px;
}

.card:hover a {
    color: #0686A8;
}

.more-projects span {
    font-size: 0.8em;
}

#certifications:hover h2 {
    /*color: #0686A8;*/
    background-color: #0686A8;
    color: white !important;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.cert a:hover li:last-child {
    color: #0686A8;
}

.cert .cert-list {
    margin-left: 0px;
    margin-bottom: 25px;
}

.cert .cert-list li {
    font-size: 0.9375em;
    color: #8c8c8c;
}

.cert-list svg {
    width: 14px;
    height: 15px;
    fill: #8c8c8c;
}

.cert a:hover svg{
    fill: #0686A8;
}

.cert .cert-list li:first-child {
    font-size: 1em;
    color: #0f0f0f;
    font-weight: bold;
}

.skills .skill-list {
    margin-left: 0px;
}

.skills .skill-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c;
}

.container__hobbies {
    display: flex;
}

#hobbies:hover h2 {
    /*color: #0686A8;*/
    background-color: #0686A8;
    color: white !important;
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.hobbies-list {
    width: 100%;
    display: inline-block;
    justify-content: space-between;
}

.hobbies-list li {
    display: inline-block;
    width: 100px;
    margin-right: 60px;
    text-align: center;
}

.hobbies-list li:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    .hobbies-list li:last-child {
        margin-right: 60px;
    }
    .intro h1 span {
        font-size: 22px;
        font-weight: bold;
    }
    #avatar {
        margin-bottom: 0;
    }
    #about {
        padding: 0;
    }
}

.hobbies-list svg {
    fill: #363738;
    max-width: 60px;

}

.hobbies-list li:hover svg {
    fill: #0686A8;
}

.hobbies-list li:hover span {
    color: #0686A8;
}

.hobbies-list span {
    display: block;
    color: #4d4d4d;
}

footer {
    padding: 50px 0px 0px 0px;
    background: #f4f4f4;
    margin-bottom: 0px;
}

@media only screen and (max-width: 350px) {
    /* For mobile phones: */
    footer {
        width: 110%;
    }
}

footer .social li {
    display: inline;
    margin-left: 20px;
}

footer .social li a {
    font-size: 1.25em;
    color: #999999;
}

.copyright {
    color: #8c8c8c;
    opacity: 40%;
}

hr {
    border: 1px solid #8c8c8c;
    opacity: 15%;
    width: 100%;
}

.icon {
    font-size: 1.5em;
    margin-right: 10px;
}

.card {
    padding-right: 15px;
    padding-bottom: 30px;
    border: none;
    min-width: 350px;
    margin-bottom: 0;
}

.card-body {
    border: 1px solid rgba(0, 0, 0, 0.05);
    max-width: 450px;
    padding: 2.25rem;
}

.card img {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    width: 450px;
    /*height: 255px;*/
    /*max-width: 450px;*/
    max-width: 100%;
    object-fit: contain;
}

.card-body div {
    bottom: 25px;
    position: absolute;
    margin-bottom: 15px;
}

@media only screen and (max-width: 355px) {
    /* For mobile phones: */
    .card-body, .card img {
        max-width: 320px;
    }
}

.card-title {
    color: black !important;
}

/*.card-text-container {*/
/*    border-left: 1px solid rgba(0, 0, 0, 0.05);*/
/*    border-right: 1px solid rgba(0, 0, 0, 0.05);*/
/*    border-top: none;*/
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.05);*/
/*    padding-left: 20px;*/
/*    padding-bottom: 10px;*/
/*    max-width: 450px;*/
/*}*/

.card-text {
    font-size: 1em;
    /*word-break: break-all;*/
    white-space: normal;
}

.small, small {
    font-size: 95%;
}

.units-row {
    margin-bottom: 0px;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 60px;
    right: 0;
    background-color: #DDD;
    color: #8c8c8c;
    /*color: #0686A8;*/
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: white;
    border: 1px solid #0686A8;
}
